{% extends 'myapp/index.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<main class="px-3">
    <h1>contact.</h1>
    <p class="lead fw-bold">Facebook:<a class="lead" href="https://www.facebook.com/profile.php?id=100085344591328">@Ping Ping</a> </p>
    <p class="lead fw-bold">Instagram:<a class="lead" href="https://www.instagram.com/pingpong_1688/">@pingpong_1688</a> </p>
    <p class="lead fw-bold">Line:<a class="lead" href="https://line.me/ti/p/xXUTqblFkG">pingpong580</a> </p>
    <p class="lead fw-bold"><a class="lead fw-bold" href="http://127.0.0.1:8000/about/">Learn More</a> </p>
  </main>
</div>
{% endblock content %}
