{% extends 'myapp/index1.html' %}

{% block title %} เข้าสู่ระบบ {% endblock title %}

{% block content %}

{% if nouser %}
<br><br>
<div class="alert alert-warning" role="alert">
    อีเมลนี้ไม่มีในระบบ กรุณาสมัครสมาชิก
    </div>

    <center><a href="{% url 'register'%}" role="button">สมัครสมาชิกใหม่</a><center>
        
{% endif %}


{% if wrongpassword %}
<br><br>
<div class="alert alert-warning" role="alert">
                รหัสผ่านผิด กรุณากรอกใหม่อีกครั้ง หรือ รีเซ็ตหรัสผ่านใหม่
  </div>

  <center><a href="#" role="button">รีเซ็ตหรัสผ่าน</a><center>
        
{% endif %}

    <br><br>
    
    
    <div class="container">
        <h2>เข้าสู่ระบบเว็บไซต์</h2><br>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div><br>

            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div><br>

            <button type="submit" class="btn btn-primary">Submit</button><br><br>


        </form>
        {% comment %} <main class="form-signin">
            <form method="POST">
                {% csrf_token %}
             
              <h1 class="h3 mb-3 fw-normal">เข้าสู่ระบบเว็บไซต์</h1>
          
              <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
          
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
          </main> {% endcomment %}
    </div>

{% endblock content %}
  